* {
    box-sizing: border-box;
}

body {
    background-color: black;
    height: 100vh;

}

main {
    background-color: gray;
    position: relative;
    top: 16%;
    border-radius: 10px;
    min-width: 540px;
    max-width: 50%;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;

}

#calculator-wrapper {
    align-items: center;
    place-items: center;
    justify-content: space-between;
}

#buttons {
    place-items: center;
}

#arithmetic {
    margin-top: 10%;
}

button {
    padding: 15px 32px;
    text-align: center;
}

#result-section {
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 1em;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: right;
    align-items: center;
    gap: 12px;
    width: 45%;
}

