body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background-color:darksalmon;
}

main {
    position: relative;
    top: 20%;
}

p {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font: 2em 'Courier New', Courier, monospace;
    font-style: italic;
}

#results {
    display: flex;
    gap: 10vw;
    justify-content: center;
    align-items: center;
}

#results > div {
    height: 30dvh;
    width: 30dvw;
}

#options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

button {
    border-radius: 10cm;
    width: 25dvw;
    height: 10dvw;
    background-color:coral;
    transition-duration: 0.5s;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-weight: 600;
}

button:hover {
    background-color: plum;
    box-shadow: 0 4px 8px 0 crimson;
}

#results > div > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    flex-shrink: 1;
    filter: drop-shadow(3px 3px 3px);
}

@keyframes shake {
  0% { transform: translateY(0); }
  25% { transform: translateY(-10px); }
  50% { transform: translateY(0); }
  75% { transform: translateY(10px); }
  100% { transform: translateY(0); }
}

.shake {
  animation: shake 0.5s ease-in-out infinite;
}


#countdown {
    display: flex;
    justify-content: center;
    font: 30px 'Courier New', Courier, monospace;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 5dvw;
}